/*
*
* @author Washington Júnior
* @version 0.1
*/

/* =============================== layout ========================== */

/* ********** PALETA DE CORES **********

- Preto: #212121 (body - background);
- Preto: #23202b / rgb(35,32,43) = (.star-primary);
- Vermelho: #cb202d;
- Branco: #f8f9fa!important (.bg-light);
- Branco: #ffffff;

*/

/* ********** ABOUT SECTION ********** */

section {
    padding: 100px 0;
}

.about-box {
  max-width: 400px;
}

.about-box i {
  color: #cb202d;
}

/* ********** CLASSES SECTION ********** */

h2 {
    font-size: 3em;
    font-weight: bold;
}

.star-primary {
    margin: 25px auto 30px;
    max-width: 250px;
    border-top: solid 5px;
}

.classes-item {
    margin-bottom: 30px;
}

/* ********** PLANS SECTION ********** */



/* ********** STUDENTS SECTION ********** */

.grid-img {
  position: relative;
}

.grid-img img {
  vertical-align: middle;
  width: 100%;
}

.grid-img .content-text {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top: 0; to append it to the top */
  background: rgba(0,0,0,0.5); /* Black background width 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */
  box-sizing: border-box;
}

/* ********** INSTRUCTORS SECTION ********** */

.img-profile {
    width: 300px;
    height: 300px;
}

/* ********** MEDIA SECTION ********** */

.media {
    max-width: 300px;
}

.media a {
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .media a:hover {
        text-decoration: underline;
    }
}

/* ********** CONTACT SECTION ********** */

#contact a {
    color: #cb202d;
    text-decoration: none;
}

@media (min-width: 768px) {

    #contact a:hover {
        text-decoration: underline;
    }

}

/* ********** PARTNERS SECTION ********** */

#partners .container {
    border-top: 1px dashed #23202b;
}

/* ********** FOOTER ********** */

/*footer {
    border-top: 30px solid #cb202d;
}*/

/* ********** BACKGROUND-COLOR ********** */

.bg-black {
    background-color: #23202b;
}

.bg-red {
    background-color: #cb202d;
}