/* ********** HEADER ********** */

html, body {
  height: 100%;
}

body {
  position: relative;
}

header {

  /* The image used */
  background: linear-gradient(rgba(47,23,15,.65),rgba(47,23,15,.65)), url("../img/praticante-atividade-fisica.jpg");

  /* Full height */
  min-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Other styling */
  padding-top: 176px; /* height do navbar: 76px; */
  padding-bottom: 100px;
  color: white;

}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
  header {
    background-attachment: scroll;
  }
}

header .header-content {
  max-width: 500px;
  margin-bottom: 50px;
  text-align: center;
}

header .header-content h1 {
  font-size: 30px;
}

@media (min-width: 992px) {

  header .header-content h1 {
    font-size: 50px;
  }
}

header .video-container {
  text-align: center;
  margin-bottom: 50px;
}

video {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 0 0.2rem rgba(35,32,43, 0.5);
  border-radius: .25rem;
}

.card-style {
  background-color: rgba(35,32,43,0.8);
  border-color: rgba(35,32,43,0.8);
  max-width: 500px;
}

.card-style a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) {

  .card-style:hover {
    background-color: rgba(35,32,43,1);
    border-color: rgba(35,32,43,1);
  }

  .card-style a:hover {
    text-decoration: underline;
  }

  .card-style a:focus, .card-style a.focus {
    box-shadow: 0 0 0 0.2rem rgba(35,32,43, 0.5);
    border-radius: .25rem;
  }
}