ul.list-custom li i {
    display: block;
    border-radius: 100%;
    color: #fff;
    background-color: #cb202d;
    text-align: center;
    margin-bottom: 5px;
}

/* *************** */

ul.list-1x li i {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
}

ul.list-2x li i {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    line-height: 4rem;
    margin: 10px;
}

/* *************** */

ul.list-transition li a {
    color: #cb202d;
    text-decoration: none;
    outline: none;
}

@media (min-width: 768px) {

    ul.list-transition li i, ul.list-transition li a {
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
    }

    ul.list-transition li i:hover,
    ul.list-transition li i:active {
        background-color: #23202b;
    }

    ul.list-transition li a:hover,
    ul.list-transition li a:active {
        color: #23202b;
    }
}