/*
*
* @author Washington Júnior
* @version 0.1
*/

/* ********** PALETA DE CORES **********

- Preto: #23202b; rgb(35,32,43)
- Vermelho: #cb202d; rgb(203,32,45)
- Branco: #ffffff; rgb(255,255,255)

*/

/* ********** NAVIGATION BAR ********** */

.img-brand {
  width: 50px;
  height: 50px;
}

.bg-light .navbar-nav .nav-link, .bg-light .navbar-nav .nav-link:focus {
  color: rgba(0,0,0,.7);
}

.bg-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,1);
  font-weight: bold;
}

.bg-light .navbar-nav .nav-link.active {
  color: #fff;
  font-weight: bold;
  background-color: #cb202d;
}

.bg-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.4);
}

.bg-light .navbar-nav .nav-link.disabled:hover {
  font-weight: normal;
}

@media (min-width: 992px) {
  .bg-transparent .navbar-nav .nav-link, .bg-transparent .navbar-nav .nav-link:focus {
      color: #fff;
  }

  .bg-transparent .navbar-nav .nav-link:hover {
    color: #fff;
    font-weight: bold;
  }

  .bg-transparent .navbar-nav .nav-link.disabled {
    color: rgba(255,255,255,.7)!important;
  }

  .bg-transparent .navbar-nav .nav-link.disabled:hover {
    font-weight: normal;
  }
}

/* ********** HEADER ********** */

html, body {
  height: 100%;
}

body {
  position: relative;
}

header {

  /* The image used */
  background: linear-gradient(rgba(47,23,15,.65),rgba(47,23,15,.65)), url("../img/praticante-atividade-fisica.jpg");

  /* Full height */
  min-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Other styling */
  padding-top: 176px; /* height do navbar: 76px; */
  padding-bottom: 100px;
  color: white;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 992px) {
  header {
    background-attachment: scroll;
  }
}

header .header-content {
  max-width: 500px;
  margin-bottom: 50px;
  text-align: center;
}

header .header-content h1 {
  font-size: 30px;
}

@media (min-width: 992px) {

  header .header-content h1 {
    font-size: 50px;
  }
}

header .video-container {
  text-align: center;
  margin-bottom: 50px;
}

video {
  box-shadow: 0 0 0 0.2rem rgba(35,32,43, 0.5);
  border-radius: .25rem;

  /* Responsive Web Design - Videos */
  max-width: 100%;
  height: auto;
}

.card-style {
  background-color: rgba(35,32,43,0.8);
  border-color: rgba(35,32,43,0.8);
  max-width: 500px;
}

.card-style a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 992px) {

  .card-style:hover {
    background-color: rgba(35,32,43,1);
    border-color: rgba(35,32,43,1);
  }

  .card-style a:hover {
    text-decoration: underline;
  }

  .card-style a:focus, .card-style a.focus {
    box-shadow: 0 0 0 0.2rem rgba(35,32,43, 0.5);
    border-radius: .25rem;
  }
}

/* ********** ABOUT SECTION ********** */

section {
  padding: 100px 0;
}

.about-box {
  max-width: 400px;
}

.about-box i {
  color: #cb202d;
}

/* ********** CLASSES SECTION ********** */

h2 {
  font-size: 3em;
  font-weight: bold;
}

.star-primary {
  margin: 25px auto 30px;
  max-width: 250px;
  border-top: solid 5px;
}

.classes-item {
  margin-bottom: 30px;
}

/* ********** PLANS SECTION ********** */



/* ********** STUDENTS SECTION ********** */

.grid-img {
  position: relative;
}

.grid-img img {
  vertical-align: middle;
  width: 100%;
}

.grid-img .content-text {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top: 0; to append it to the top */
  background: rgba(0,0,0,0.5); /* Black background width 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */
  box-sizing: border-box;
}

/* ********** INSTRUCTORS SECTION ********** */

.instructor-member {
  margin-bottom: 50px;
  text-align: center;
}

.instructor-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #322F3A;
}

.instructor-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.instructor-member p {
  margin-top: 0;
}

/* ********** MEDIA SECTION ********** */

.media {
  max-width: 300px;
}

.media a {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 992px) {
  .media a:hover {
    text-decoration: underline;
  }
}

/* ********** CONTACT SECTION ********** */

#contact a {
  color: #cb202d;
  text-decoration: none;
}

@media (min-width: 992px) {
  #contact a:hover {
    text-decoration: underline;
  }
}

/* ********** FOOTER ********** */



/* ********** BACKGROUND-COLOR ********** */

.bg-black {
  background-color: #23202b;
}

.bg-red {
  background-color: #cb202d;
}

/* ********** SOCIAL ICONS ********** */

ul.list-custom li i {
  display: block;
  border-radius: 100%;
  color: #fff;
  background-color: #cb202d;
  text-align: center;
  margin-bottom: 5px;
}

ul.list-1x li i {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
}

ul.list-2x li i {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  line-height: 4rem;
  margin: 10px;
}

ul.list-transition li a {
  color: #cb202d;
  text-decoration: none;
  outline: none;
}

@media (min-width: 992px) {

  ul.list-transition li i, ul.list-transition li a {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
  }

  ul.list-transition li i:hover,
  ul.list-transition li i:active {
    background-color: #23202b;
  }

  ul.list-transition li a:hover,
  ul.list-transition li a:active {
    color: #23202b;
  }
}