/* Global ========================= */
:root {
  --color-primary: #cb202d;
  --color-primary-dark: #a30f1a;
  --color-muted: #6c757d;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: 87.5%; /* 14px */
}

body {
  font-family: "Nunito", sans-serif;
}

/* Titles ========================= */
h1 {
  font-family: "Alice", serif;
  font-weight: normal;
  font-size: 4rem; /* 4.8 */
  color: var(--color-white);
}

h2 {
  font-family: "Alice", serif;
  font-weight: normal;
  font-size: 2.7rem; /* 3.2 */
}

/* Links ========================= */
a {
  text-decoration: none;
}

/* Header ========================= */
header {
  min-height: 75vh;

  background-image: linear-gradient(
      0deg,
      rgba(203, 32, 45, 0.5),
      rgba(203, 32, 45, 0.5)
    ),
    url(../img/arena-rfuteam-le-parc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: flex-end;
}

.box__header {
  margin-bottom: 2.7rem;
}

/* About Section ========================= */
section,
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.box__about {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media screen and (min-width: 576px) {
  .box__about {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .box__about {
    grid-template-columns: repeat(4, 1fr);
  }
}

.about {
  text-align: center;
  max-width: 26.6rem;
  justify-self: center;
}

.about__icon {
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.about__title {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}

.about__text {
  color: var(--color-muted);
}

/* Arena Section ========================= */
.arena {
  background: linear-gradient(
    0deg,
    rgba(196, 196, 196, 0.3),
    rgba(196, 196, 196, 0.3)
  );
}

.title {
  margin-bottom: 2.3rem;
}

.box__arena {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media screen and (min-width: 576px) {
  .box__arena {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .box__arena {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.25),
    0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
  border-radius: 0.7rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card__img {
  border-radius: 0.7rem 0.7rem 0 0;
  width: 100%;
  max-width: 640px;
  height: auto;
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.7rem;
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: background-color 0.2s;
}

.card__link:hover {
  background: var(--color-primary-dark);
}

/* Student Section ========================= */
.student {
  padding-top: 0;
  padding-bottom: 0;
}

.box__student {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 576px) {
  .box__student {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .box__student {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery {
  line-height: 0;
  position: relative;
}

.gallery__img {
  width: 100%;
  height: auto;
}

.gallery__description {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  color: var(--color-white);
  width: 100%;
  padding: 0.7rem;
  height: 3.5rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.gallery__detail {
  font-size: 1.1rem;
}

/* Media Section ========================= */
.box__media {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.media {
  text-align: center;
}

.media__link {
  display: inline-block;
}

@media screen and (min-width: 576px) {
  .box__media {
    grid-template-columns: repeat(2, 1fr);
  }

  .media:first-child {
    text-align: right;
  }

  .media:last-child {
    text-align: left;
  }
}

.media__img {
  max-width: 100%;
  height: auto;
}

/* Footer ========================= */
footer {
  background-image: linear-gradient(
      0deg,
      rgba(203, 32, 45, 0.5),
      rgba(203, 32, 45, 0.5)
    ),
    url(../img/arena-le-parc-rfuteam.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--color-white);
}

.box__contact {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.contact {
  text-align: center;
  font-size: 1.6rem;
}

.contact__item:not(:last-child) {
  margin-bottom: 1.3rem;
}

.contact__link {
  display: inline-block;
  color: var(--color-white);
}

.contact__link:not(:last-child) {
  margin-right: 1.7rem;
}

@media screen and (min-width: 576px) {
  .box__contact {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact:first-child {
    text-align: right;
  }

  .contact:last-child {
    text-align: left;
    display: flex;
    align-items: center;
  }
}

/* Responsive ========================= */
@media screen and (min-width: 768px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}
