/* Global ========================= */
:root {
  --color-primary: #cb202d;
  --color-muted: #6c757d;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: 87.5%; /* 14px */
}

body {
  font-family: "Nunito", sans-serif;
}

/* Titles ========================= */
h1 {
  font-family: "Alice", serif;
  font-weight: normal;
  font-size: 4rem; /* 4.8 */
  color: var(--color-white);
}

/* Header ========================= */
header {
  min-height: 75vh;

  background-image: linear-gradient(
      0deg,
      rgba(203, 32, 45, 0.5),
      rgba(203, 32, 45, 0.5)
    ),
    url(../img/arena-rfuteam-le-parc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: flex-end;
}

.header--text {
  margin-bottom: 2.7rem;
}

/* About Section ========================= */
section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.box--about {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .box--about {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .box--about {
    grid-template-columns: repeat(4, 1fr);
  }
}

.about {
  text-align: center;
  max-width: 26.6rem;
  justify-self: center;
}

.about--icon {
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.about--title {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}

.about--text {
  color: var(--color-muted);
}

/* Responsive ========================= */
@media screen and (min-width: 768px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}
